{% extends "base.html" %}

{% block content %}
<style>
  body {
    margin: 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/bg3.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

  h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
  }

  .password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  form {
    width: 350px;
    background-color: rgba(34, 34, 34, 0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(203, 206, 203, 0.5);
  }

  label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
  }

  input[type="email"] {
    width: 100%;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid;
    font-size: 1em;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e26960;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 3px;
  }

  input[type="submit"]:hover {
   font-weight: bold;
    color: #222;
  }

  .flashes {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .alert {
      background-color: #f44336;
      color: white;
      border-radius: 5px;
      padding: 10px;
      font-weight: bold;
  }
  .signup-link {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 1.1em;
    text-decoration: none;
    color: #fdaa4b;
    background-color: rgba(34, 34, 34, 0.8);
    padding: 8px 0;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
  }

  .signup-link:hover {
    color: #222;
    background-color: #c59927;
  }
</style>

<div class="password-reset-container">
  <form action="{{ url_for('forgot_password') }}" method="POST">
      <h1>Forgot Password</h1>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
      <input type="submit" value="Reset Password">
      <a class="signup-link warning" href="{{ url_for('login') }}">Return to Login Page</a>
  </form>
</div>
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="flashes">
      {% for category, message in messages %}
        <div class="alert alert-{{ 'success' if category == 'message' else 'danger' }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
{% endblock %}
