{% extends "base.html" %}

{% block content %}
<style>
body {
    min-height: 75rem;
    padding-top: 4.5rem;
    margin: 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/bg3.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    color:black;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.card-body h5 {
    font-weight: bold;
    color: #333;
}

.card-body h6 {
    color: #777;
}

.card-body p {
    color: #555;
    display: flex;
    align-items: center;
}

.card-body p i {
    margin-right: 10px;
}

.card-body {
    padding: 20px;
}

.btn {
    margin: 10px 0;
    transition: all 0.3s;
    color: #fff;
    background-color: #333;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #555;
}
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    OTP Verification
                </div>
                <div class="card-body">
                    <form id="otpForm" method="POST" class="form">
                        <div class="form-group">
                            <label for="otp">Enter your OTP:</label>
                            <input type="text" id="otp" name="otp" class="form-control" pattern="\d{6}" title="OTP should be exactly 6 digits." required>

                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn">Verify</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <p id="timer" class="mb-1"></p>
                        <p id="attempts"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://unpkg.com/sweetalert2@11"></script>




  <script>
    document.addEventListener('DOMContentLoaded', function () {
    // Initialize the countdown timer
    const homeUrl = "{{ url_for('index') }}";
    const otpExpiry = new Date('{{ otp_expiry }}');
    let countdown = initializeCountdown(otpExpiry);

    // Initialize the attempts counter
    let attemptsLeft = {{ attempts_left }};
    document.getElementById('attempts').textContent = `${attemptsLeft} attempts left`;

    function initializeCountdown(expiry) {
        return setInterval(() => {
            const now = new Date().getTime();
            const timeLeft = expiry - now;

            if (timeLeft < 0) {
                handleExpiredOTP();
                return;
            }

            updateTimer(timeLeft);
        }, 1000);
    }

    function handleExpiredOTP() {
        clearInterval(countdown);
        document.getElementById('timer').textContent = "OTP expired";
        Swal.fire({
            title: 'OTP expired',
            text: 'Redirecting to login.',
            icon: 'error',
            confirmButtonText: 'OK'
        }).then(() => {
            window.location.href = "{{ login_url }}"; // Redirect to the login page
        });
    }

    function updateTimer(timeLeft) {
        const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

        document.getElementById('timer').textContent = `${minutes}m ${seconds}s left to enter OTP`;
    }

    function handleOTPResponse(data) {
        switch (data.status) {
            case 'verified':
                window.location.href = homeUrl;
                break;
            case 'expired':
            case 'max_attempts_exceeded':
                showAlertAndRedirect('Error', 'Maximum attempts exceeded or OTP expired. Redirecting to login.', 'error', "{{ login_url }}");
                break;
            default:
                handleIncorrectOTP();
                break;
        }
    }

    function showAlertAndRedirect(title, text, icon, redirectUrl) {
        Swal.fire({
            title: title,
            text: text,
            icon: icon,
            confirmButtonText: 'OK'
        }).then(() => {
            window.location.href = redirectUrl;
        });
    }

    function handleIncorrectOTP() {
        attemptsLeft--;
        document.getElementById('attempts').textContent = `${attemptsLeft} attempts left`;

        if (attemptsLeft <= 0) {
            showAlertAndRedirect('Error', 'Maximum attempts exceeded. Redirecting to login.', 'error', "{{ login_url }}");
        } else {
            Swal.fire({
                title: 'Incorrect OTP',
                text: `You have ${attemptsLeft} attempts left.`,
                icon: 'error',
                confirmButtonText: 'OK'
            });
        }
    }

    function handleSubmit(event) {
        event.preventDefault();

        fetch('/otp_verification', {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target))
        })
        .then(response => response.json())
        .then(data => handleOTPResponse(data));
    }

    // Handle form submission
    document.getElementById('otpForm').addEventListener('submit', handleSubmit);
});

  </script>
      {% endblock %}
