{% extends "base.html" %}

{% block content %}
<style>
/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 900px; /* Increase this to make the card wider */
    margin: 0 auto;
    padding: 15px;
}

.card {
    padding: 15px; /* Decrease this to make the card shorter */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}
hr {
    border-top: 1px solid #ccc;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    width: 100%;
    font-size: 18px;
}

/* Password strength meter styling */
.password-strength {
    width: 100%;
    height: 10px;
    background-color: #eee;
    margin-bottom: 10px;
}

.password-strength-bar {
    height: 100%;
    background-color: #ccc;
    width: 0;
    transition: width 0.3s ease;
}

.password-strength-bar.weak {
    background-color: red;
}

.password-strength-bar.medium {
    background-color: orange;
}

.password-strength-bar.strong {
    background-color: green;
}

/* Input field styling */
input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], select {

    border: 1px solid #ccc;
    width: 100%;
}

input[type="file"] {
    border: 1px solid #ccc;
    width: 100%;
}

/* Label styling */
label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.login-link {
    display: inline-block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

.login-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

</style>
<div class="container">
    <div class ="card">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <h1 class="card-title">Registration Form</h1>
        <hr/>
        <form method="POST" enctype="multipart/form-data" id="register-form">
        <div class="row">
            <!-- Column 1 -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="user_email">Email:</label>
                    <input type="email" class="form-control" id="user_email" name="user_email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <div class="form-group">
                    <label for="password_strength">Password Strength:</label>
                    <div id="password_strength" class="password-strength">
                        <div class="password-strength-bar"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" required>
                </div>
            </div>

            <!-- Column 2 -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="number" class="form-control" id="age" name="age" required>
                </div>
                <div class="form-group">
                    <label for="date_of_birth">Date of Birth:</label>
                    <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required>
                </div>
                <div class="form-group">
                    <label for="marital_status">Marital Status:</label>
                    <select class="form-control" id="marital_status" name="marital_status" required>
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                        <option value="divorced">Divorced</option>
                        <option value="widowed">Widowed</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nationality">Nationality:</label>
                    <input type="text" class="form-control" id="nationality" name="nationality" required>
                </div>
                <div class="form-group">
                    <label for="profile_photo">Profile Photo:</label>
                    <input type="file" class="form-control-file" id="profile_photo" name="profile_photo" accept="image/*">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
            <a href="{{ url_for('login') }}" class="login-link">Already Have an Account? Log In</a>

    </form>
    </div>
</div>
</div>
            <script>
            // Function to calculate password strength and update the complexity bar
            function updatePasswordStrength() {
                var password = document.getElementById('password').value;
                var strengthBar = document.querySelector('.password-strength-bar');
                var strength = 0;

                // Calculate password strength
                if (password.match(/[a-z]+/)) {
                    strength += 1;
                }
                if (password.match(/[A-Z]+/)) {
                    strength += 1;
                }
                if (password.match(/[0-9]+/)) {
                    strength += 1;
                }
                if (password.match(/[$@#&!]+/)) {
                    strength += 1;
                }
                if (password.length >= 8) {
                    strength += 1;
                }

                // Update the width and color of the complexity bar based on the strength
                var barWidth = strength * 20;
                strengthBar.style.width = barWidth + '%';

                // Remove previous color classes
                strengthBar.classList.remove('weak', 'medium', 'strong');

                // Add color class based on strength
                if (barWidth < 40) {
                    strengthBar.classList.add('weak');
                } else if (barWidth < 80) {
                    strengthBar.classList.add('medium');
                } else {
                    strengthBar.classList.add('strong');
                }
            }

            // Event listener for password field to update the complexity bar on input
            document.getElementById('password').addEventListener('input', updatePasswordStrength);


            document.getElementById('register-form').addEventListener('submit', function(event) {
                var password = document.getElementById('password').value;
                var confirmPassword = document.getElementById('confirm_password').value;

                if (password !== confirmPassword) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Password and Confirm Password do not match!',
                    });
                    return false;
                }

                var passwordStrengthRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;  // At least one uppercase, one lowercase, one digit, minimum 8 characters
                if (!passwordStrengthRegex.test(password)) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Weak password! It should contain at least one uppercase, one lowercase, one digit, and a minimum of 8 characters.',
                    });
                    return false;
                }

                var dob = new Date(document.getElementById('date_of_birth').value);
                var ageInput = document.getElementById('age').value;
                var now = new Date();
                var ageActual = Math.floor((now - dob) / (365.25 * 24 * 60 * 60 * 1000));  // Calculate age in years

                if (ageInput != ageActual) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Provided age and Date of Birth do not match!',
                    });
                    return false;
                }

                if (ageActual > 120 || ageActual < 0) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Age seems to be incorrect!',
                    });
                    return false;
                }

                return true;
            });
        </script>
    </form>
</div>
{% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.4.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.4.0/js/bootstrap.bundle.min.js"></script>

