{% extends "base.html" %}

{% block content %}
<style>
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

  body {
    min-height: 75rem;
    padding-top: 4.5rem;
    margin: 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/bg3.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

  form {
    width: 400px;
    border: 2px solid;
    padding: 30px;
    animation: grow-border 2s linear infinite;
    box-shadow: 0 0 10px 2px rgba(203, 206, 203, 0.5);
  }

  @keyframes grow-border {
    0% {
      border-width: 2px;
    }
    50% {
      border-width: 4px;
    }
    100% {
      border-width: 2px;
    }
  }

  label {
    display: block;
    margin-top: 15px;
    font-size: 18px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid;
    font-size: 1em;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #e26960;
    border: 1px solid ;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    font-weight: bold;
  }
  .password-reset-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flashes {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .alert {
      background-color: #f44336;
      color: white;
      border-radius: 5px;
      padding: 10px;
      font-weight: bold;
  }
  @media (max-width: 768px) {
    form {
      width: 100%; /* Reduce the form width for mobile devices */
      padding: 20px; /* Reduce the padding for mobile devices */
    }

    label {
      font-size: 16px; /* Reduce the label font size for mobile devices */
    }

    input[type="text"],
    input[type="password"] {
      font-size: 14px; /* Reduce the input font size for mobile devices */
    }

    input[type="submit"] {
      font-size: 14px; /* Reduce the button font size for mobile devices */
      padding: 6px; /* Reduce the button padding for mobile devices */
    }
  }
</style>

<div class="password-reset-container">
  <form action="{{ url_for('reset_password', token=token) }}" method="POST" id="reset-form">
      <h1>Reset Password</h1>
      <label for="password">New Password:</label>
      <input type="password" name="password" id="password" required>
      <label for="confirm_password">Confirm Password:</label>
      <input type="password" name="confirm_password" id="confirm_password" required>
      <input type="submit" value="Change Password">
  </form>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#reset-form').on('submit', function(e) {
        let password = $('#password').val();
        let confirmPassword = $('#confirm_password').val();

        // Check if passwords match
        if (password !== confirmPassword) {
            e.preventDefault();
            swal("Error", "Passwords do not match!", "error");
            return false;
        }

        // Check password strength
        let passwordStrength = checkPasswordStrength(password);
        if (passwordStrength < 3) {
            e.preventDefault();
            swal("Error", "Weak password! It should contain at least one uppercase, one lowercase, one digit, and a minimum of 8 characters.", "error");
            return false;
        }

        return true;
    });

    function checkPasswordStrength(password) {
        let strength = 0;
        if (password.length > 7) {
            strength += 1;
        }
        if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) {
            strength += 1;
        }
        if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) {
            strength += 1;
        }
        if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) {
            strength += 1;
        }
        return strength;
    }
});
</script>

</div>


{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="flashes">
      {% for category, message in messages %}
        <div class="alert alert-{{ 'success' if category == 'message' else 'danger' }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

